/* 页脚样式 */
footer {
    width: 100%;
    background-color: white;
  }
  .footer-wrap {
    width: 1225px;
    margin: 0 auto;
  }
  .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
    clear: both;
  }
  .footer-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
  .footer-service li:first-of-type {
    border-left: none;
  }
  .footer-service a {
    color: var(--sub-text);
  }
  .footer-service a:hover {
    color: var(--main-color);
  }
  .footer-service img {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
  }
  /* footer下半部分 */
  .footer-links {
    height: 300px;
    padding: 40px 0;
  }
  .col-links {
    float: left;
    width: 160px;
    margin: 0;
  }
  .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
  }
  .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
  }
  .col-links dd a {
    color: #757575;
  }
  .col-links dd a:hover {
    color: var(--main-color);
  }
  .col-contact {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
  }
  .col-contact .phone {
    font-size: 22px;
    color: var(--main-color);
    margin: 0 0 5px;
  }
  .col-contact p {
    margin: 0 0 5px;
  }
  .btn-line-primary {
    border: 1px solid var(--main-color);
    padding: 0 30px;
    background: #fff;
    color: var(--main-color);
    margin-top: 10px;
    width: 118px;
    height: 28px;
    font-size: 12px;
  }
  .col-contact .follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-contact .follow img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
  }
  